

body {
    font-family: Arial, sans-serif;
    color: #222;
    margin: 0;
}
header {
    border-bottom: 1px solid black;
    display: flex;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F2DE;
}
header h1 {
    color: #000000;
    font-size: 24px;
    margin: 0;
    justify-items: center;
    font: ""

    
}

#login_btn {
    height: 25px;
    width: 70px;
    background: #0ca314;
    border-radius: 50%;
}

main {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

#start {
    height: 100%;
    width: 100%;
    background-image: url("img/fjell.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-bottom: 50px;
}

#start h2 {
    color: rgb(255, 255, 255);
    font-size: 200px;
    font: Frank Ruhl Libre;
    margin: 0;
    padding-top: 100px;
    text-align: center;
    }

#start svg {
height: 150px;
width: 200px;
fill: rgb(255, 255, 255);
margin-top: 20px;
margin-left: calc(50%);
    
}

#start p {
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    text-align: center;

}

.selection_div {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 100%;
    margin: 0, 20px ;
    justify-items: center;
    align-items: center;
}

#selection {
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: white;
}

#selection_break {
    background-color: white;
    width:1px;   
    height: 450px;          
    background:#333;
    margin: 0;   
} 

.front_img {
    height: 200px;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;

}

.red_btn {
    height: 44px;
    width: 320px;
    background: #DC4131;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 8px;
}

.how_it_works {
    background-color: #F7F2DE;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: 2px solid gray;
}

.how_it_works .left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    border-right: 2px solid gray;
}

.step{
    padding-left: 5px;
    border-bottom: 2px solid gray;
}

.produce {
    text-align: center;
    border-radius: 16px;
    width: 33%;
    max-height: 33%;
}
#popular_produce {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#popular_produce_h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 20px;
}