

body {
    font-family: Arial, sans-serif;
    background: #F7F2DE;
    color: #222;
    margin: 0;
}
header {
    border-bottom: 1px solid black;
    display: flex;
    height: 68px;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    color: #000000;
    font-size: 24px;
    margin: 0;
    justify-items: center;
    font: ""

    
}

#login_btn {
    height: 25px;
    width: 70px;
    background: #0ca314;
    border-radius: 50%;
}

main {
    background: #F7F2DE;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

#start {
    height: 850px;
    width: 100%;
    background-image: url("img/fjell.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
}

#start h2 {
    color: rgb(255, 255, 255);
    font-size: 200px;
    font: Frank Ruhl Libre;
    margin: 0;
    padding-top: 100px;
    text-align: center;
    }

#start p {
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

#start svg {
    height: 150px;
    width: 200px;
    fill: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: calc(50%);
    
}