* {
    font-family: 'Frank Ruhl Libre', serif; /*link i html */
    font-weight: 300; /*dette gir en lettere font*/
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    margin: 0;
    background-image:  url("../img/fjell.png");
    background-position: center;

}
header {
    border-bottom: 1px solid black;
    display: flex;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F2DE;
}
header h1 {
    color: #000000;
    font-size: 2vw;
    margin: 0;
    justify-items: center;
    font: ""

    
}

#login_btn {
    height: 25px;
    max-width: 70px;
    background: #0ca314;
    border-radius: 50%;
}

main {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

#menu_button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.icon_bar {
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

#chatbot_container {
    position: fixed;
    bottom: 20%;
    right: 40%;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
}

 .send-btn {
      background-color: #f25f4c;
      color: white;
      border: none;
      border-radius: 5%;
      width: 50px;
      height: 25px;
      font-size: 16px;
      cursor: pointer;
      margin: 0;
    }

.send-btn:hover {
    background-color: #d94b3c;
    }

    .chat-messages {
      padding: 10px;
      overflow-y: auto;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .message {
      max-width: 80%;
      padding: 10px 15px;
      border-radius: 15px;
      font-size: 14px;
      line-height: 1.4;
      word-wrap: break-word;
    }

    .bot{
        background-color: rgb(238, 217, 99);
        align-self: flex-start;
    }
    #fram_name{
        font-size: 14px;
        margin-right: 5px;
    }

    #userInput {
      flex-grow: 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-left: 15px;
      font-size: 14px;
      width: calc(100% - 85px);
      box-sizing: border-box;
    }

    .message_bot {
        display: flex;
        font-size: 14px;
        width: fit-content;
        background-color: #F7F2DE;
        max-width: 100%;
    }