* {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 300;
}

body {
  font-family: Arial, sans-serif;
  color: #222;
  margin: 0;
  background-color: #f7f2de;
}
header {
  border-bottom: 1px solid black;
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f2de;
}
header h1 {
  color: #000000;
  font-size: 2vw;
  margin: 0;
  justify-items: center;
  font: "";
}

#login_btn {
  height: 25px;
  max-width: 3%;
  background: #0ca314;
  border-radius: 50%;
}

#title {
  text-transform: uppercase;
  margin-top: 60px;
  margin-left: 2.5%;
  font-size: 40px;
}

#title_text {
  max-width: 35%;
  margin-left: 2.5%;
  padding-bottom: 30px;
  font-size: 18px;
}

#produce_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-bottom: 130px;
}

#headline {
  text-align: center;
  font-size: 48px;
}
#produce_container div {
  text-align: center;
}

.produce {
  margin: 0;
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
  justify-content: center;
  margin-left: 20px;
}

.partner_farm {
  border-top: grey solid 2px;
  display: flex;
  flex-direction: row;
  height: 550px;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

.left {
  margin: auto;
  max-width: 30%;
  text-align: center;
}
.right {
  margin: auto;
  max-width: 70%;
}

#map_img {
  max-width: 100%;
  max-height: 400px;
  justify-content: center;
}

#selection_break {
  color: white;
  width: 1px;
  height: 100%;
  background: #333;
  margin: 0;
}

footer {
  background-color: #dc4131;
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  max-width: 100%;
  text-align: left;
  color: white;
}

footer h2 {
  font-size: 36px;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: white solid 1px;
}
footer div h3 {
  padding-top: 15px;
}
footer form input {
  margin-bottom: 10px;
  border-radius: 4px;
  width: 25%;
  height: 30px;
  border: none;
}

footer p {
  width: 25%;
}

.name_and_price {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

.weight {
  margin-top: 0;
  color: gray;
  font-size: 16px;
  margin: 0 20%;
  text-align: left;
}

.menu_button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
.menu_button:hover {
  opacity: 0.4;
}

.icon_bar {
  width: 15px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

#main_link {
  text-decoration: none;
  color: none;
}

@media (max-width: 768px) {
  * {
    width: auto;
  }
  #produce_container {
    grid-template-columns: repeat(1, 100%);
    width: 100%;
    justify-items: stretch;
    height: auto;
  }
  #headline {
    font-size: 12px !important;
  }
  .produce {
    width: 90%;
    height: 90%;
  }
  #title_text {
    max-width: 80vw;
  }
}
